html,
body {
  height: max-content;
  margin: 0;
  padding-left: 12px;
  background-color: #eef2ff;
  color: #34345c;

  font-family: Arial, Helvetica, sans-serif;
}

#container {
  background-color: #d6daf0;
  max-width: fit-content;
  padding: 5px;
}

#post-wrap {
  display: flex;
  justify-content: start;
  align-items: start;
}

#post-left, #post-right {
  flex: 1;
}

#post-right {
  padding-left: 12px;
}

#post-img {
  max-height: 200px;
}